* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #000080;

    overflow: hidden;
}

header {
    height: 100px;
    
    background-color: #C4C4C4;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 10em;
    
    color: #000080;
}

section {
    color: #C4C4C4;

    margin: 45px;
}

p {
    font-size: 9em;
}

.bin_container {
    padding-bottom: 50px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dec_container {
    padding-bottom: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    font-size: 5em;

    background-color: #C4C4C4;
    
    border: none;
    border-radius: 10px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    height: 50px;
    width: 250px;
    font-size: 40px;
    
    background-color: #C4C4C4;
    color: #000080;

    border:none;
    border-radius: 10px;
}

button:hover {
    height: 60px;
    width: 260px;
}
